<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bán gà hahahahaha" name="keywords">
    <meta content="Bán gà hahahahaha" name="description">
    <link href="~/Assets/Client/css/iziToast.min.css" rel="stylesheet" />
    <!-- Favicon -->
    <link href="~/Assets/Client/img/logo.svg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Assets/Client/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Assets/Client/css/style.css" rel="stylesheet">
    @RenderSection("styles", false)


</head>

<body>
    @Html.Partial("~/Views/Shared/_Topbar.cshtml")
    <!-- Navbar Start -->
    <div class="container-fluid mb-1">
        <div class="row border-top px-xl-5">
            @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
            @Html.Partial("~/Views/Shared/_Navbar.cshtml")
        </div>

    </div>
    <!-- Navbar End -->
    @RenderBody()
    <!-- Vendor End -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Assets/Client/js/iziToast.min.js"></script>
    <script src="~/Assets/Client/lib/easing/easing.min.js"></script>
    <script src="~/Assets/Client/lib/owlcarousel/owl.carousel.min.js"></script>



    <!-- Template Javascript -->
    <script src="~/Assets/Client/js/main.js"></script>
    <script src="~/Assets/Client/js/code/main.js"></script>
    @RenderSection("scripts", false)
</body>

</html>